body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: var(--black);
    max-width: 80vw;
    margin: 30px auto;
    padding: 0 1rem;
}

body,
* {
    box-sizing: border-box;
}