@media (max-width: 768px) {
    .novedades__main {
        flex-direction: column;
    }

    .populares__container {
        flex-direction: column;
    }

    .categorias__container {
        flex-direction: column;
        align-items: center;
        margin-left: 0; /* Centrar en pantallas pequeñas */
    }

    .categorias__shape {
        width: 100%; /* Ampliar en móviles */
    }
}

@media (max-width: 576px) {
    /* Ajustes para dispositivos móviles */
    .categorias__title {
        text-align: center;
    }
}
